body {
    background: #414456;
}


.dropdown-list {
    display: inline-block;
    float: right;
    margin: 20px;

}

.clear {
    clear: both
}

#nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav li {
    position: relative;
    z-index: 500;
    display: block;
    float: left;
    margin: 0 1px;
    width: 200px;
    border-radius: 3px;
    background: #c1ecea;
}

#nav li a {
    display: block;
    padding: 10px 5px 0 5px;
    height: 35px;
    color: #fff;
    color: #333;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}

#nav li a:hover {
    color: #fff;
}

#nav a.selected {
    color: #f00;
}

#nav ul {
    position: absolute;
    left: 0;
    overflow: auto;
    margin: 0 0 0 -1px;
    padding: 0;
    height: 350px;
    list-style: none;
}

#nav ul li {
    float: left;
    width: 200px;
    border-top: 1px solid #fff;
}

#nav ul a {
    display: block;
    padding: 8px 5px;
    height: 15px;
    color: #ffffff;
    cursor: default;
}

#nav ul a:hover {
    text-decoration: none;
}

#wrap {
    width: 100%;
}

.container {
    margin: 0 5%;
    width: 90%;
}

.container-body {
    display: inline-block;
    margin: 5%;
    min-width: 1260px;
    width: 90%;
    border: 10px solid #cecece;
    border-radius: 10px;
    background: #ffffff;
    text-align: center;
}

.start-button {
    position: fixed;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 80px;
    height: 40px;
    border: 5px solid #ffffff;
    border-radius: 6px;
    background: #7f7f7a;
    cursor: pointer;
}

.start-button-value {
    float: left;
    margin-top: 10px;
    margin-left: 14px;
    color: #ffffff;
    font-weight: bold;
}

#start-button {
    background: #7f7f7a;
}

#hangman {
    display: none;
}

.picture-block {
    display: inline-block;
    margin: 2%;
    width: 570px;
    border: 3px solid #000000;
    border-radius: 20px;
    background: #000000;
    text-align: center;
}

.play-again-button {
    display: inline-block;
    visibility: hidden;
    margin: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

.play-again-button:hover {
    color: #DBDBDB;
}

.right-block {
    display: inline-block;
    float: right;
    width: 380px;
}

.score-block {
    display: inline-block;
    margin: 5%;
    width: 90%;
    height: 160px;
    border-radius: 30px;
    background: #ccd6ed;
}

.score-title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    cursor: default;
}

#score-value-block {
    display: inline-block;
    width: 40%;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    cursor: default;
}

.score_value {
    cursor: default;
}

.chance {
    text-align: center;
}

.chance-title {
    margin-right: 10px;
    font-size: 22px;
    cursor: default;
}

.chance-value {
    cursor: default;
}

.lose-win {
    text-align: center;
    font-style: italic;
    font-size: 40px;
    cursor: default;
}

#alpha {
    float: right;
}

.letter {
    display: inline-block;
    margin: 10px;
    padding: 3px;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid #000000;
    font-weight: bold;
    font-size: 23px;
    cursor: default;
}

.guess {
    display: inline-block;
    margin: 10px;
    padding: 5px;
    width: 20px;
    border: 1px solid #7F7F7A;
    background: #cecece;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.guess:hover {
    margin: 8px;
    padding: 5px;
    border: 3px solid #7F7F7A;
}

.word-block {
    display: inline-block;
    width: 100%;
    background: #cecece;
    text-align: center;
}